@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
video,
canvas {
    overflow: hidden;
}

header,
section {
    max-width: 1230px;
    margin: 0 auto;
}

section {
    /* margin-bottom: 100px; */
    margin-top: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}