.actual {
    padding-top: 100px;
    overflow: hidden;
}

.actual h1 {
    font-size: 314%;
    opacity: 0;
    /* Устанавливаем начальную непрозрачность */
    transition: opacity 1s ease;
}

.actual.h1-visible h1 {
    opacity: 1;
    /* При добавлении класса .h1-visible устанавливаем полную непрозрачность */
}

.highlight9 {
    color: rgb(222, 25, 25);
}

.actual_arrow {
    display: none;
}

.actual_cards {
    /* display: flex; */
    justify-content: space-between;
    color: white;
}

.cards_item {
    height: 100%;
}

.cards_item .card {
    max-height: 75%;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(42, 41, 45);
    max-width: 335px;
    height: 483px;
    background-color: rgb(42, 41, 45);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 1.5s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.7);
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s ease;
}

.card_content:hover {
    color: rgb(42, 41, 45);
    transition: all 0.6s ease-in-out;
}

.card_icon {
    height: 78px;
}

.card_icon img {
    max-height: 80%;
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-grow: 1;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card_title {
    margin-bottom: 15px;
    /* font-size: 213%; */
}

.card_descr {
    margin-bottom: 15px;
    /* font-size: 127%; */
}

.card_btn {
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    color: white;
    font-weight: 700;
    /* font-size: 143%; */
    border-radius: 5px;
    background: rgb(222, 25, 25);
    max-width: 286.37px;
    max-height: 53.79px;
    /* margin-top: 44px; */
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card_btn:hover {
    transform: scale(1.05);
}