.agents {
    padding-top: 100px;
    overflow: hidden;
    /* padding-left: 60px;
    padding-right: 60px; */
}

.agents h1 {
    font-size: 318%;
    padding-left: 184px;
}

.highlight8 {
    color: rgb(209, 2, 9);
}

.slider-wrap {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: red transparent;
}

.slider-wrap::-webkit-scrollbar {
    width: 4px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.slider-wrap::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 8px;
}

.slider-wrap::-moz-scrollbar {
    width: 4px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.slider-wrap::-moz-scrollbar-thumb {
    background-color: red;
    border-radius: 8px;
}

.slider {
    display: flex;
}

.slider-item {
    flex-shrink: 0;
    width: auto;
    margin-right: 5px;
}

.slider::after,
.slider::before {
    content: '';
    flex: 0 0 5px;
}

.slider::after {
    margin-left: auto;
}

.img-div {
    max-width: 1140px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrap::-webkit-scrollbar-button {
    display: none;
}