footer {
    background-color: rgb(42, 41, 45);
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    max-width: 1300px;
}

.col {
    flex: 1 1 20%;
    padding: 10px;
}

.col:last-child {
    margin-left: auto;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: white;
    white-space: nowrap;
}

.footer_descr {
    margin-top: -27px;
    list-style: none;
    color: white;
    max-width: 336px;
}

.footer_descr a {
    text-decoration: underline;
}

.footer_descr+.footer_descr {
    margin-top: 10px;
}

.footer_triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 350px;
    padding-right: 0;
    transform: translateY(0%);
}

.col a {
    color: white;
    list-style: none;
    cursor: pointer;
    transition: all .4s ease-in;
}

.footer__logo {
    margin-top: 38px;
    max-width: 300px;
    position: relative;
    margin: 0 auto;
}

.copyright {
    position: absolute;
    bottom: 10px;
    color: rgb(153, 153, 153);
}

.footer_arrow {
    font-weight: normal;
}