.submenu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    /* делаем фон полупрозрачным */
    backdrop-filter: blur(7px);
    /* применяем размытие */
    z-index: 999;
    border-radius: 10px;
    /* округляем края */
    padding: 12px;
    /* добавляем небольшой отступ внутри */
    margin-top: 5px;
    /* добавляем небольшой отступ сверху */
    width: 200px;
    /* увеличиваем ширину */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* добавляем объемную тень */
}

.header__item:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px 0;
    /* добавляем отступы сверху и снизу */
    list-style: none;
    /* убираем маркеры списка */
}

.tel:hover {
    color: red;
}

.submenu a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
    /* сбрасываем жирность текста */
    transition: font-weight 0.3s ease;
    /* добавляем плавный переход для свойства font-weight */
}

.submenu a:hover {
    font-weight: bold;
    /* устанавливаем жирность текста при наведении */
}


/* a,
a:visited {
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 93%;
    font-weight: 500;
} */

.arrow {
    display: inline-block;
    width: 0.8vmax;
    height: 0.4vmax;
    background-image: url(../img/block_nav/arrow1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.header__item:hover .arrow {
    transform: rotate(180deg);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: white;
    padding-bottom: 20px;
    margin-top: 20px;
}

.header__logo {
    width: 234px;
}

.header__logo img {
    height: 56px;
}

#menu__toggle {
    display: none;
}

.menu__btn {
    display: none;
    cursor: pointer;
}

.menu__btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(57, 53, 53);
    margin-bottom: 5px;
}

.menu-open .header__nav {
    display: block;
}

.header__nav {
    margin-left: -29px;
    color: rgb(57, 53, 53);
    font-size: 16px;
    margin-top: 23px;
}

.header__nav .header__item:hover a {
    font-weight: bold;
}

.header__list {
    /* margin: 0; */
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 16px;
}

.header__item a {
    font-size: 19px;
    color: rgb(57, 53, 53);
    cursor: pointer;
    transition: all .4s ease-in;
}

.items {
    font-weight: 600;
}

.header__item:not(:last-child) {
    margin-right: 96px;
}

.arrow {
    display: inline-block;
    width: 0.8vmax;
    height: 0.4vmax;
    background-image: url(../img/block_nav/arrow1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tel {
    font-weight: 400;
    color: rgb(57, 53, 53);
    font-size: 19px;
    margin-top: 10px;
    /* margin-right: 20px; */
}

@media (max-width: 1000px) {
    .menu__btn {
        display: block;
        margin-top: 23px;
    }
    .nav__arrow {
        display: none;
    }
    /* .header__list {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        gap: 2vmax;
    } */
}