.preview {
    position: relative;
}

.main {
    display: flex;
    align-items: center;
}

.main__image {
    flex: 0 0 auto;
    max-width: 50%;
    display: flex;
    margin-left: -20%;
    animation: slideInImage 1s ease forwards;
}

.faw__img {
    max-width: 100%;
    margin-right: 0;
    position: static;
    margin-top: 20px;
}

.main__text {
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 59px;
    animation: slideInText 1s ease forwards;
}

@keyframes slideInImage {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInText {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main__title {
    font-size: 242%;
    max-width: 805px;
}

.main__subtitle {
    font-weight: 700;
    color: brown;
    font-size: 242%;
    max-width: 805px;
    margin-top: -22px;
}

.main__desc {
    margin-top: 7%;
    max-width: 329px;
    font-size: 112%;
    line-height: 1.4;
}

.line {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid black;
    /* margin-right: 43px; */
}

.arrow2 {
    background-image: url(../img/block_preview/arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 7%;
    height: auto;
}

.arrow3 {
    background-image: url(../img/block_preview/arrow3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.preview__arrow {
    position: absolute;
    top: 90%;
    left: calc(100% + -45%);
    transform: translateY(-50%);
    width: 171px;
    height: 179px;
}

.preview__line {
    position: absolute;
    top: 50%;
    left: calc(100% + -3%);
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    /* right: -6px; */
    /* margin-right: 25px; */
}