.timing {
    padding-left: 141.91px;
    padding-top: 60px;
    position: relative;
}

.timing_title {
    margin-left: 11px;
    font-size: 233%;
}

.timing_text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding-left: 47px;
    margin-top: -10px;
    /* padding-right: 203px; */
    /* margin: 9px; */
}

.timing_text p {
    font-size: 120%;
    letter-spacing: -0.82px;
    margin-top: 30px;
    max-width: 426px;
    line-height: 124%;
    margin: 10px;
}


/* .p2 {
    margin-left: 20px;
} */

.highlight5 {
    color: rgb(184, 0, 6);
    font-weight: 600;
}

.img1,
.img2 {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
}

.img1 {
    /* left: -124px; */
    width: 9%;
    left: calc(-15% - -40px);
}

.img2 {
    /* right: 18px; */
    width: 9%;
    right: calc(-15% - -176px);
}

.timing_line {
    position: absolute;
    transform: rotate(90deg);
    top: 71%;
    width: calc(20% + 30px);
    border-bottom: 1px solid black;
    opacity: 0.3;
    left: 0%;
}