@import url(../conditionsForDrivers.css);
@media screen and (min-width: 1200px) {
    .number-condition-02 {
        margin-left: 60px;
        font-size: 12rem;
    }
    .conditions-left p {
        font-size: 18px;
    }
    .conditions-left h2 {
        font-size: 40px;
    }
    .tree-2 {
        width: 46%;
        margin-top: 78px;
    }
    .conditions-left {
        width: 41%;
    }
    .condition-item h3 {
        font-size: 22px;
        white-space: nowrap;
    }
    .condition-item p {
        font-size: 16px;
    }
    .condition-item img {
        width: 6%;
    }
    .tree-2 {
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .number-condition-02 {
        margin-left: 60px;
        font-size: 12rem;
    }
    .conditions-left p {
        font-size: 16px;
    }
    .conditions-left h2 {
        font-size: 35px;
    }
    .conditions-left {
        margin-right: 90px;
    }
    .conditions-right {
        margin-right: 90px;
    }
    .tree-2 {
        width: 40%;
        margin-top: 90px;
    }
    .conditions-left {
        width: 41%;
    }
    .condition-item h3 {
        font-size: 20px;
        white-space: nowrap;
    }
    .condition-item p {
        font-size: 16px;
    }
    .condition-item img {
        width: 7%;
    }
    .tree-2 {
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .conditions-left p {
        font-size: 15px;
    }
    .conditions-left h2 {
        font-size: 30px;
    }
    .number-condition-02 {
        font-size: 10rem;
    }
    .conditions-left {
        margin-right: 213px;
    }
    .condition-item h3 {
        font-size: 19px;
    }
    .condition-item p {
        font-size: 15px;
    }
    .condition-item div {
        width: 385px;
    }
    .tree-2 {
        opacity: 0.5;
    }
}

@media screen and (max-width: 845px) {
    .tree-2 {
        margin-top: 135px;
    }
    .condition-item p {
        font-size: 14px;
    }
    .condition-item h3 {
        white-space: normal;
    }
}

@media screen and (max-width: 770px) {
    .conditions-left p {
        font-size: 14px;
    }
    .conditions-left h2 {
        font-size: 28px;
    }
    .number-condition-02 {
        font-size: 8rem;
        margin-right: -94px;
        margin-top: 29px;
    }
    .conditions-left {
        margin-right: 212px;
    }
    .condition-item div {
        width: 300px;
    }
    .condition-item img {
        width: 9%;
    }
    .condition-item h3 {
        font-size: 18px;
    }
    .condition-item p {
        font-size: 14px;
    }
    .tree-2 {
        margin-top: 581px;
        height: 78%;
    }
}

@media screen and (max-width: 568px) {
    .conditions-left p {
        font-size: 14px;
    }
    .conditions-left h2 {
        font-size: 26px;
    }
    .number-condition-02 {
        font-size: 8rem;
        margin-right: -59px;
        margin-top: 14px;
    }
    .tree-2 {
        margin-top: 756px;
        height: 64%;
    }
    .conditions-right {
        margin-right: 56px;
    }
    .conditions-left {
        margin-right: 151px;
        width: 51%;
        margin-top: 19px;
    }
    .condition-item img {
        width: 12%;
    }
    .condition-item h3 {
        font-size: 16px;
    }
    .condition-item p {
        font-size: 13px;
    }
    .condition-item div {
        width: 200px;
    }
    .condition-item img {
        width: 15%;
        margin-left: -30px;
    }
}

@media screen and (max-width: 457px) {
    .conditions-left p {
        font-size: 12px;
    }
    .conditions-left h2 {
        font-size: 24px;
    }
    .number-condition-02 {
        font-size: 6rem;
        margin-right: -96px;
        margin-top: 0px;
    }
    .conditions-left {
        margin-right: 114px;
        margin-top: 9px;
    }
    .condition-item p {
        font-size: 12px;
    }
    .tree-2 {
        margin-top: 924px;
        height: 56%;
    }
    .conditionsForDrivers {
        margin-top: -72px;
    }
}

@media screen and (max-width: 392px) {
    .conditions-left {
        margin-right: 165px;
        margin-top: 29px;
        width: 64%;
    }
    .number-condition-02 {
        font-size: 6rem;
        margin-right: -97px;
        margin-top: 21px;
    }
}

@media screen and (max-width: 375px) {
    .conditions-left h2 {
        font-size: 22px;
    }
    .conditions-left {
        margin-right: 144px;
        margin-top: 33px;
    }
    .condition-item img {
        width: 24%;
        margin-left: -30px;
    }
    .condition-item div {
        width: 173px;
    }
    .tree-2 {
        margin-top: 1000px;
        height: 52%;
    }
}

@media screen and (max-width: 330px) {
    .conditions-left h2 {
        font-size: 22px;
    }
    .conditions-left {
        margin-right: 109px;
        margin-top: 45px;
        width: 63%;
    }
    .number-condition-02 {
        font-size: 6rem;
    }
    .conditions-right {
        margin-right: 38px;
    }
    .tree-2 {
        margin-top: 1070px;
    }
}