  /* HEADER  */
  
  @import url(../header.css);
  @media (min-width: 1200px) {
      .header__nav {
          padding-left: 91px;
      }
  }
  
  @media (min-width: 1012px) {
      .header__logo {
          margin-right: -38px;
      }
  }
  
  @media (max-width: 1011px) {
      .header__logo img {
          margin-left: 19px;
      }
  }
  
  @media (max-width: 1200px) {
      .header__list {
          margin-top: -13px;
      }
      .header__nav {
          margin-top: 5px;
      }
      .header__logo img {
          margin-left: -24px;
          width: 164px;
      }
      .tel {
          margin-right: 9px;
      }
      .header {
          padding-left: 0;
          padding-right: 0;
      }
  }
  
  @media (max-width: 1000px) {
      .header {
          padding-left: 0;
          padding-right: 0;
          margin-top: 0;
      }
      .nav__arrow {
          display: none;
      }
      .header__nav {
          top: 100%;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          padding: 20px;
          left: 0;
          background-color: #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 999;
          padding: 33px;
          width: 40%;
          box-sizing: border-box;
      }
      .header__item {
          margin-bottom: 10px;
      }
      .header__item:first-child {
          display: none;
      }
      .header__list {
          align-items: center;
          margin-right: 0;
      }
      .header__link {
          font-size: 18px;
      }
      .header__link:hover {
          color: #ff5733;
      }
      .menu-open .header__nav {
          display: block;
      }
      .tel {
          margin-left: 20px;
      }
      .header__logo {
          margin-right: auto;
          width: 147px;
          height: 34px;
          margin-left: 10px;
      }
      .header__logo img {
          width: 147px;
          height: 34px;
          margin-left: 28px;
          margin-top: -11px;
      }
      .menu__btn {
          display: block;
          margin-top: 37px;
          margin-right: 40px;
      }
      .header__nav {
          display: none;
      }
      .header__item a {
          margin-bottom: 10px;
      }
  }
  
  @media (max-width:770px) {
      .header__nav {
          padding: 22px;
          width: 58%;
          position: static;
      }
      .preview__arrow {
          margin-left: 12%;
      }
      .header__logo img {
          margin-left: 22px;
          margin-top: -8px;
      }
  }