@import url(../autoParking.css);
@media screen and (min-width: 1200px) {
    .number-condition-03 {
        font-size: 14rem;
    }
    .button-esc-red {
        padding: 23px 85px 23px 66px;
        font-size: 16px;
    }
    .button-esc-red .button-arrow {
        width: 48px;
    }
    .AutoParking-right h2 {
        font-size: 38px;
    }
    .AutoParking-right p {
        font-size: 18px;
    }
    .AutoParking-wrapper {
        width: 100%;
    }
    .AutoParking-right {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .number-condition-03 {
        font-size: 12rem;
    }
    .AutoParking-wrapper {
        width: 100%;
    }
    .button-esc-red {
        padding: 23px 73px 23px 35px;
        font-size: 16px;
    }
    .button-esc-red .button-arrow {
        height: 48px;
    }
    .AutoParking-right h2 {
        font-size: 35px;
    }
    .AutoParking-right p {
        font-size: 18px;
    }
    .AutoParking-right {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .number-condition-03 {
        font-size: 10rem;
    }
    .button-esc-red {
        padding: 23px 73px 23px 35px;
        font-size: 14px;
    }
    .button-esc-red .button-arrow {
        width: 40px;
    }
    .AutoParking-right h2 {
        font-size: 30px;
    }
    .AutoParking-right p {
        font-size: 15px;
    }
}

@media screen and (max-width: 770px) {
    .number-condition-03 {
        font-size: 9rem;
    }
    .button-esc-red {
        padding: 16px 55px 16px 15px;
        font-size: 13px;
    }
    .button-esc-red .button-arrow {
        width: 37px;
    }
    .AutoParking-right h2 {
        font-size: 28px;
    }
    .AutoParking-right p {
        font-size: 15px;
        width: 248px;
        font-weight: bold;
    }
    .AutoParking-wrapper {
        width: 79%;
        margin: -55px;
    }
}

@media screen and (max-width:568px) {
    .number-condition-03 {
        font-size: 7rem;
    }
    .AutoParking-right h2 {
        font-size: 26px;
    }
    .AutoParking-right p {
        font-size: 14px;
        width: 186px;
    }
    .button-esc-red {
        padding: 16px 55px 16px 15px;
        font-size: 11px;
    }
    .button-esc-red .button-arrow {
        width: 33px;
    }
}

@media screen and (max-width:457px) {
    .number-condition-03 {
        font-size: 6rem;
    }
    .AutoParking-right h2 {
        font-size: 24px;
    }
    .AutoParking-right p {
        font-size: 12px;
        width: 186px;
    }
    .button-esc-red {
        padding: 16px 55px 16px 15px;
        font-size: 11px;
        margin-top: -24px;
    }
    .AutoParking-right {
        margin-left: -37px;
    }
}

@media screen and (max-width:375px) {
    .number-condition-03 {
        font-size: 6rem;
    }
    .AutoParking-right h2 {
        font-size: 22px;
    }
    .AutoParking-right p {
        font-size: 12px;
    }
    .AutoParking-right {
        margin-left: -68px;
    }
}