@import url(../promo.css);
@media screen and (min-width: 1200px) {
    .promo-right p {
        font-size: 18px;
    }
    .button-call {
        font-size: 18px;
        padding: 17px 62px;
        margin-top: 35px;
    }
    .button-vacancy {
        font-size: 19px;
        padding: 21px 91px 21px 30px;
    }
    .promo-left h2 {
        margin-left: -21px;
    }
    .promo {
        margin-top: -220px;
    }
    .button-call {
        background-color: white;
    }
    .promo-left h2 {
        color: white;
    }
    .join-us {
        display: block;
    }
    .join-us-mobile {
        display: none;
    }
    .quotes-mobile {
        display: none;
    }
    .button-vacancy .button-arrow {
        margin-right: 31px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -20px;
        margin-right: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -20px;
        margin-right: 14px;
    }
    .promo {
        margin-top: -220px;
    }
    .promo-right p {
        width: 85%;
        padding-right: 40px;
        font-size: 16px;
    }
    .promo-right {
        margin-left: -42px;
    }
    .promo-left h2 {
        margin-left: -52px;
    }
    .join-us {
        width: 75%;
    }
    .button-vacancy .button-arrow {
        margin-right: 31px;
    }
    .background img {
        width: 92%;
    }
    .button-call {
        font-size: 16px;
        padding: 17px 62px;
        margin-top: 35px;
    }
    .button-vacancy {
        font-size: 17px;
        padding: 21px 91px 21px 30px;
    }
    .promo-right p::before {
        margin-left: -65px;
        margin-top: -47px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -20px;
        margin-right: 29px;
    }
    .promo-left img:last-of-type {
        margin-bottom: -11px;
    }
    .button-call {
        background-color: white;
    }
    .quotes-mobile {
        display: none;
    }
    .join-us-mobile {
        display: none;
    }
    .join-us {
        display: block;
    }
    .join-us-mobile {
        display: none;
    }
    .promo-left img[src$="quotes.svg"] {
        display: block;
    }
    .promo-left h2 {
        color: white;
    }
}

@media screen and (max-width: 1000px) {
    .promo-right p {
        font-size: 15px;
    }
    .button-call {
        font-size: 14px;
    }
    .button-vacancy {
        font-size: 14px;
    }
    .button-vacancy .button-arrow {
        margin-right: 5px;
    }
    .promo-right {
        margin-top: 69px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -22px;
        margin-right: 99px;
        width: 52px;
    }
    .promo-left h2 {
        margin-left: -75px;
    }
    .promo-right p::before {
        margin-left: -81px;
    }
}

@media screen and (max-width: 900px) {
    .join-us {
        width: 57%;
        margin-left: 52px;
    }
    .promo-right p::before {
        margin-left: -103px;
        margin-top: -101px;
    }
    .button-vacancy {
        padding: 18px 67px 18px 29px;
    }
    .button-call {
        padding: 17px 49px;
    }
    .background {
        margin-top: -45px;
        margin-left: -69px;
    }
    .promo-left h2 {
        font-size: 20px;
    }
    .background img {
        width: 119%;
    }
    .promo-right {
        margin-top: 72px;
        /* width: 60%; */
        margin-left: 90px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -20px;
        margin-right: 56px;
    }
}

@media screen and (max-width: 830px) {
    .promo-left {
        margin-left: -13px;
        width: 30%;
    }
    .background img {
        width: 142%;
    }
    .promo-right {
        margin-top: 72px;
        margin-left: 93px;
    }
    .promo-right p {
        width: 85%;
        padding-right: 56px;
        font-size: 14px;
    }
    .promo-right p::before {
        margin-left: -87px;
        margin-top: -101px;
    }
    .promo-left {
        margin-left: 17px;
        width: 32%;
    }
}

@media screen and (max-width:770px) {
    .background {
        margin-top: 8px;
    }
    .promo-right {
        margin-top: 58px;
        margin-left: 113px;
    }
}

@media screen and (max-width:701px) {
    .background img {
        width: 154%;
    }
    .promo-right {
        margin-top: 41px;
        margin-left: 131px;
    }
    .promo-right p {
        width: 73%;
        padding-right: 1px;
        font-size: 14px;
    }
    .join-us {
        width: 66%;
        margin-left: 47px;
    }
    .promo-right {
        margin-top: 63px;
        margin-left: 110px;
    }
    .background {
        margin-top: -39px;
    }
    .button-call {
        padding: 17px 38px;
    }
}

@media screen and (max-width:635px) {
    .background {
        margin-top: -42px;
        margin-left: -29px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -34px;
        margin-right: 75px;
        width: 40px;
        margin-bottom: 9px;
        margin-top: 22px;
    }
    .promo-right {
        margin-top: 77px;
        margin-left: 117px;
    }
    .background img {
        width: 170%;
        margin-top: -46px;
    }
    .button-call {
        margin-top: 62px;
    }
}

@media screen and (max-width:586px) {
    .promo-right p {
        font-size: 12px;
    }
    .promo-left h2 {
        color: rgb(38, 37, 42);
        margin-left: -63px;
        margin-top: -19px;
        font-size: 18px;
    }
    .background img {
        display: none;
    }
    .button-call {
        background-color: red;
        color: white;
    }
    .quotes-mobile {
        display: block;
    }
    .promo-left img[src$="quotes.svg"] {
        display: none;
    }
    .join-us-mobile {
        display: block;
        margin-left: -158px;
        /* width: 90%; */
    }
    .join-us {
        display: none;
    }
    .join-us-mobile {
        display: block;
    }
    .button-vacancy .button-arrow {
        margin-right: 23px;
        width: 33px;
    }
    .button-call {
        font-size: 12px;
        padding: 17px 28px;
        margin-right: 40px;
    }
    .button-vacancy {
        font-size: 12px;
    }
}

@media screen and (max-width:472px) {
    .promo-right {
        margin-top: 77px;
        margin-left: 72px;
    }
    .join-us-mobile {
        margin-left: -132px;
    }
    .promo-right p::before {
        margin-left: -87px;
        margin-top: -63px;
    }
    .promo-left {
        margin-left: 17px;
        width: 32%;
        margin-top: 28px;
    }
}

@media screen and (max-width:395px) {
    .promo-left h2 {
        font-size: 18px;
    }
    .button-call {
        font-size: 12px;
    }
    .promo-right p {
        font-size: 12px;
    }
    .promo-left h2 {
        font-size: 16px;
        width: 133px;
    }
    .promo-left {
        margin-left: 21px;
        margin-top: 80px;
    }
    .button-call {
        font-size: 12px;
        padding: 13px 22px;
        margin-right: 59px;
        margin-top: 21px;
    }
    .promo-left img:first-of-type,
    .promo-left img:last-of-type {
        margin-left: -33px;
        margin-right: 77px;
        width: 29px;
        margin-bottom: 19px;
        margin-top: 18px;
    }
    .button-vacancy {
        padding: 15px 51px 15px 28px;
    }
}

@media screen and (max-width:395px) {}