    @import url(../table.css);
    @media screen and (min-width: 1200px) {
        .table-descr {
            font-size: 16px;
        }
        .table h1 {
            max-width: 82%;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .table h1 {
            font-size: 30px;
        }
        .table-descr {
            font-size: 14px;
        }
    }
    
    @media screen and (max-width: 1000px) {
        .table h1 {
            font-size: 27px;
        }
    }
    
    @media screen and (max-width: 770px) {
        .table h1 {
            font-size: 24px;
            text-align: center;
            margin-left: -5%;
        }
        .table-descr {
            font-size: 12px;
        }
        .table-image img {
            width: 135%;
        }
    }
    
    @media screen and (max-width: 568px) {
        .table-descr {
            font-size: 10px;
        }
        .table h1 {
            width: 111%;
        }
    }
    
    @media screen and (max-width: 470px) {
        .table h1 {
            font-size: 22px;
        }
    }
    
    @media screen and (max-width: 395px) {
        .table h1 {
            font-size: 20px;
        }
        .table-descr {
            font-size: 8px;
        }
    }
    
    @media screen and (max-width: 345px) {
        .table-descr {
            font-size: 5px;
        }
        .table-image img {
            margin-bottom: -19px;
        }
    }
    
    @media screen and (max-width: 321px) {
        .table h1 {
            font-size: 18px;
        }
        .table h1 {
            width: 127%;
            margin-left: -14%;
        }
    }