 @import url(../answer-question.css);
 @media screen and (min-width: 1200px) {
     .question-item p {
         font-size: 18px;
     }
     .answer-item p {
         font-size: 18px;
     }
     .answer-item p {
         padding: 1rem;
     }
     .question-answer {
         padding-left: 2rem;
     }
     .answer-item {
         padding: 1rem;
     }
     .answer-item img {
         margin-top: 9px;
         margin-right: 6px;
     }
     .answer-item p {
         padding: 26px;
         white-space: nowrap;
         padding-right: 124px;
         margin-bottom: -20px;
     }
     .question-item p:last-child {
         margin-bottom: -21px;
     }
 }
 
 @media screen and (max-width: 1200px) {
     .quest-ans-wrapper .question,
     .quest-ans-wrapper .answer {
         max-width: 100%;
     }
     .question-answer h1 {
         font-size: 30px;
     }
     .question-item p {
         font-size: 16px;
     }
     .answer-item p {
         font-size: 16px;
         padding: 1rem;
     }
     .question-answer {
         padding-left: 2rem;
     }
     .answer-item {
         padding: 1rem;
     }
 }
 
 @media screen and (max-width: 1000px) {
     .question-answer h1 {
         font-size: 27px;
     }
     .question-item p {
         font-size: 15px;
     }
     .answer-item p {
         font-size: 15px;
     }
 }
 
 @media screen and (max-width:770px) {
     .question-answer h1 {
         font-size: 24px;
     }
     .question-item p {
         font-size: 14px;
     }
     .answer-item p {
         font-size: 14px;
     }
     .answer-item p {
         padding-right: 30px;
     }
 }
 
 @media screen and (max-width:572px) {
     .answer-item p {
         padding-right: 37px;
     }
     .question-item p {
         font-size: 12px;
     }
     .answer-item p {
         font-size: 12px;
     }
     .question-answer h1 {
         text-align: center;
         margin-left: 0;
     }
     .answer {
         margin-top: -10px;
     }
     /* .quest-ans-wrapper {
         flex-direction: column;
     } */
     .question,
     .answer {
         width: 100%;
     }
     .quest-ans-wrapper .question {
         order: 1;
         margin-right: 30px;
         width: 53px;
     }
     .quest-ans-wrapper .answer {
         order: 2;
         padding-right: 20px;
     }
     .question-answer {
         padding-left: unset;
     }
 }
 
 @media screen and (max-width:420px) {
     .quest-ans-wrapper .question {
         margin-right: 24px;
     }
 }
 
 @media screen and (max-width:395px) {
     .question-answer h1 {
         font-size: 20px;
     }
     .question-item p {
         font-size: 11px;
     }
     .answer-item p {
         font-size: 11px;
     }
     .quest-ans-wrapper .question {
         margin-right: 14px;
     }
     .answer-item {
         padding: unset;
     }
     .answer-item img {
         margin-right: -18px;
     }
     .quest-ans-wrapper {
         margin-top: 30px;
     }
 }