@import url(../styles_vacancy/media/media-header.css);
.submenu {
    display: none;
    position: absolute;
    background-color: rgb(32, 31, 31);
    z-index: 999;
    border-radius: 10px;
    padding: 12px;
    margin-top: 5px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.submenu a:hover {
    color: red;
    font-weight: bold;
}

.header__item:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px 0;
    list-style: none;
}

.arrow {
    display: inline-block;
    width: 0.8vmax;
    height: 9px;
    background-image: url(../img_vacancy/header/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.header__item:hover .arrow {
    transform: rotate(180deg);
}

.header__list .header__item .items:hover {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    height: 100px;
    white-space: nowrap;
    max-width: 1230px;
    margin: 0 auto;
}

.header__logo img {
    height: 45px;
    margin-left: 31px;
    margin-top: -11px;
}

#menu__toggle {
    display: none;
}

.menu__btn {
    display: none;
    cursor: pointer;
}

.menu__btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(57, 53, 53);
    margin-bottom: 5px;
}

.menu-open .header__nav {
    display: block;
}

.header__nav {
    margin-left: -29px;
    color: rgb(57, 53, 53);
    z-index: 999;
}

.header__list {
    /* margin: 0; */
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 51px;
}

.header__item a {
    font-size: 14px;
    color: rgb(57, 53, 53);
    cursor: pointer;
    transition: all .4s ease-in;
}

.header__nav .header__list .header__item:nth-child(-n+4) a {
    color: white;
}

.items {
    font-weight: 500;
}

.header__item:not(:last-child) {
    margin-right: 100px;
    margin-top: 11px;
}


/* ПРИГЛАСИТЬ НА ТЕНДЕР */

.button-tender {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #cf1729;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.button-tender:hover {
    background: rgb(62, 54, 54);
    color: #fff;
    box-shadow: 0 0 5px #f417031e, 0 0 25px #f417031e, 0 0 50px #f417031e, 0 0 100px #f417031e;
}

.button-tender span {
    position: absolute;
    display: block;
}

.button-tender span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c2001d);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.button-tender span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #c2001d);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.button-tender span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #c2001d);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.button-tender span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #c2001d);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* ВЫПЛЫВАЮЩЕЕ БОКОВОЕ МЕНЮ */

.btn-header {
    position: fixed;
    top: 15px;
    right: 20px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 8px;
    cursor: pointer;
    transition: left 0.4s ease;
    display: none;
    z-index: 1000;
}

#hamburger-icon {
    display: block;
    /* Показывать иконку hamburger изначально */
}

.btn-header.click {
    right: 35%;
}

.btn-header span {
    color: white;
    font-size: 20px;
    line-height: 45px;
}

.btn.click span:before {
    content: '\f00d';
    display: none;
}

.sidebar {
    position: fixed;
    width: 33%;
    height: 100%;
    right: -33%;
    background: #1b1b1b;
    transition: right 0.4s ease;
    top: 0;
    z-index: 999;
    display: none;
}

.sidebar.show {
    right: 0;
    display: block;
}

.menu-icon {
    transition: display 0.3s ease-in-out;
    display: block;
}

.sidebar-logo {
    line-height: 64px;
    margin-top: 18px;
    padding-left: 29px;
}

.sidebar-logo img {
    width: 66%;
}

.sidebar ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 600;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar ul li.active a {
    color: red;
    border-left-color: red;
}

.sidebar ul ul {
    position: static;
    display: none;
}

.sidebar ul .feat-show.show {
    display: block;
}

.sidebar ul .serv-show.show1 {
    display: block;
}

.sidebar ul ul li {
    line-height: 42px;
    border-top: none;
}

.sidebar ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

.sidebar ul li a:not(.tender-invite) {
    background-color: transparent;
    color: white;
}

.sidebar ul li a:not(.tender-invite):hover {
    background-color: #1e1e1e;
    color: red;
}

.sidebar ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

.sidebar ul ul li a:hover {
    color: red!important;
    background: #1e1e1e!important;
}

.sidebar ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

.sidebar ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    text-align: center;
}

.content .header {
    font-size: 45px;
    font-weight: 600;
}

.content p {
    font-size: 30px;
    font-weight: 500;
}

.sidebar .copyright {
    padding: 0 35px 8px;
}

.tender-invite {
    background-color: red;
    color: white;
}

.tender-invite:hover {
    background-color: darkred;
    color: white;
}

@media (max-width: 1200px) {
    /* .menu__btn {
        display: block;
        margin-top: 23px;
    } */
    .sidebar {
        display: block;
    }
    .btn-header {
        display: block;
    }
}