.promo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -220px; */
    /* Adjust as needed */
    /* Bring to front if needed */
    width: 100%;
}

.background {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.background-mobile {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.promo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
}

.button-vacancy {
    background-color: rgb(38, 37, 42);
    color: white;
    border-radius: 50px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    /* padding: 21px 91px 21px 30px; */
    /* font-size: 19px; */
}

.button-call {
    /* background-color: white; */
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    /* padding: 17px 62px; */
    text-transform: uppercase;
    /* font-size: 18px; */
    margin-bottom: -39px;
    margin-left: -143px;
    /* margin-top: 35px; */
}

.button-vacancy .button-arrow {
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
}

.promo-left {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 15%;
    z-index: 3;
    max-width: 1230px;
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-left img:first-of-type {
    position: absolute;
    top: -74px;
    left: -22%;
}

.promo-left img:last-of-type {
    position: absolute;
    bottom: -92px;
    right: -21%;
}

.promo-left h2 {
    /* color: white; */
    margin-bottom: 10px;
    max-width: 286px;
    /* margin-left: -21px; */
}

.join-us {
    max-width: 90%;
    margin-bottom: 40px;
}


/* .promo-left img:first-of-type,
.promo-left img:last-of-type {
    margin-left: -20px;
    margin-right: 14px;
} */

.join-us-mobile {
    max-width: 122%;
    margin-bottom: 40px;
}

.promo-right p,
.button-vacancy {
    margin-left: 50px;
}

.promo-right p {
    /* font-size: 18px; */
    max-width: 385px;
    margin-bottom: 20px;
}

.promo-right p::before {
    content: "";
    display: block;
    width: 1px;
    background-color: black;
    position: absolute;
    left: 67%;
    top: 267px;
    bottom: 0;
    height: 56%;
}

.highlight-black {
    font-weight: bold;
}