@import url(./media/media-test-drive.css);
.test-drive {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    margin: 0 auto;
}

.pretitle {
    text-align: center;
    position: relative;
}

.pretitle .test-drive.line {
    position: absolute;
    content: '';
    width: calc(100% - 249px);
    height: 2px;
    background-color: black;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

h1 {
    position: relative;
    z-index: 2;
}

.highlight {
    color: red;
}

.video-container {
    position: relative;
    margin-top: 20px;
    border-radius: 58px;
    overflow: hidden;
    width: 90%;
    max-width: 1000px;
    /* background-image: url(../img_vacancy/test-drive/car-showroom.svg); */
    background-size: cover;
    z-index: 2;
}

.video-container:hover {
    cursor: pointer;
    block-size: 22%;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 45px;
    background: white url(../img_vacancy/test-drive/play-button.svg) no-repeat center;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    padding-left: 75px;
    padding-bottom: 24px;
}

button {
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background: none;
}

button img {
    max-width: 88px;
}

.test-drive-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    font-weight: 400;
    font-size: 150%;
    padding-left: 30px;
    padding-top: 9px;
}

.test-drive-descr img {
    max-width: 90px;
}

.test-drive-descr p {
    margin: 0;
    padding-bottom: 24px;
}