@import url(../resume.css);
@media screen and (min-width: 1200px) {
    .resume {
        padding-right: 165px;
    }
    .resume-text h1,
    .resume-text p {
        width: 100%;
    }
    .resume-descr {
        margin-left: 289px;
        /* margin-top: -51px; */
    }
    .resume-button {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1200px) {
    .resume-text h1 {
        font-size: 30px;
    }
    .resume-descr {
        padding-top: 13px;
        margin-left: 289px;
    }
    .resume-descr p {
        font-size: 16px;
    }
    .resume-button {
        width: 90%;
    }
    .resume-text h1,
    .resume-text p {
        width: 100%;
    }
    .resume-button {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1000px) {
    .resume-text h1 {
        font-size: 27px;
        width: 80%;
    }
    .resume-descr {
        padding-top: 13px;
    }
    .resume-descr p {
        font-size: 15px;
    }
    .resume-button {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .resume-text h1 {
        font-size: 25px;
        width: 80%;
    }
    .resume-text {
        padding-left: 12px;
    }
    .resume-descr {
        padding-top: 50px;
        margin-left: 0;
    }
    .resume-descr p {
        font-size: 13px;
    }
    .resume-button {
        width: 67%;
        padding: 9px 24px;
    }
}

@media screen and (max-width: 690px) {
    .resume {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 568px) {
    .resume-text h1 {
        font-size: 24px;
        width: 85%;
    }
}

@media screen and (max-width: 395px) {
    .resume-text h1 {
        font-size: 20px;
        width: 84%;
    }
    .resume-descr p {
        font-size: 12px;
        width: 76%;
    }
    .resume-button {
        width: 70%;
        padding: 10px 18px;
    }
}