@import url(./media/media-conditionsForDrivers.css);
.conditionsForDrivers {
    position: relative;
    /* Context for absolute positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* Full width to ensure center alignment */
    /* overflow: hidden; */
    /* Prevent any child elements from overflowing */
}

.conditions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1230px;
    position: relative;
    /* Needed for absolute positioning of children */
    margin: 0 auto;
    /* Center the container */
}

.conditions-right,
.conditions-left {
    position: relative;
    flex-basis: auto;
}

.conditions-right {
    order: 2;
    position: absolute;
    right: 0;
    top: 41px;
}

.conditions-left {
    padding: 20px;
    flex-grow: 1;
    order: 1;
    text-align: right;
    max-width: 100%;
    /* width: 41%; */
}

.conditions-left h2,
.conditions-left p {
    margin: 0;
}

.conditions-left p {
    padding-top: 10px;
    /* font-size: 18px; */
    padding-bottom: 50px;
}

.tree {
    position: absolute;
    right: 0;
    /* Align to the right edge of conditions-wrapper */
    top: 0;
    /* Align to the top of conditions-wrapper */
    height: 125%;
    /* Make the height of tree the same as its parent */
    z-index: -1;
    /* Place the tree behind other content */
}

.tree-2 {
    height: 100%;
    /* Keep full height to cover the area */
    width: auto;
    /* Adjust width automatically to maintain aspect ratio */
}

.number-condition-02 {
    /* font-size: 12rem; */
    color: rgb(255, 218, 218);
    font-family: 'Vast Shadow', sans-serif;
    position: absolute;
    right: 98px;
    top: 50%;
    transform: translateY(-50%);
}

.condition-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-left: 69px;
}

.condition-item {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    align-items: flex-start;
    margin-bottom: 35px;
    align-items: center;
}

.condition-item h3 {
    /* font-size: 22px; */
    font-weight: bold;
    margin-right: 20px;
    flex-shrink: 0;
    /* white-space: nowrap; */
    margin-bottom: 9px;
}

.condition-item div {
    display: flex;
    flex-direction: column;
    max-width: 467px;
}

.condition-item img {
    margin-right: 30px;
    max-width: 100%;
    /* width: 6%; */
}

.condition-item p {
    /* font-size: 16px; */
    color: #333;
    line-height: 1.5;
}

.condition-item div p {
    margin-bottom: 10px;
}

.condition-item div p:last-child {
    margin-bottom: 0;
}