@import url(./media/media-table.css);
.table {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1230px;
    margin: 0 auto;
}

.table h1 {
    position: relative;
    /* text-align: center; */
    /* max-width: 82%; */
}

.table-image {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.table-image img {
    max-width: 100%;
    height: auto;
}

.table-descr {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    /* font-size: 16px; */
    color: rgb(60, 60, 60);
    opacity: 0.5;
    white-space: nowrap;
}