    @import url(../preview.css);
    @media screen and (min-width: 1200px) {
        .preview__arrow-preview {
            width: 90px;
            height: 90px;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .preview__arrow-preview {
            width: 90px;
            height: 90px;
        }
    }
    
    @media screen and (max-width: 1000px) {
        .preview__line {
            padding-right: 50px;
        }
        .preview__arrow-preview {
            margin-left: 90px;
        }
        .main__text {
            font-size: 85%;
        }
        .main__title {
            font-size: 34px;
        }
    }
    
    @media screen and (max-width: 770px) {
        .preview__arrow-preview {
            width: 80px;
            height: 80px;
            margin-left: 18%;
            margin-bottom: -26%;
        }
    }
    
    @media screen and (max-width:618px) {
        .faw {
            width: 63%;
            margin-left: 16%;
            margin-top: 9%;
        }
        .main__title {
            width: 100%;
        }
        .preview__arrow-preview {
            width: 100px;
            height: 100px;
            margin-left: 14%;
            margin-bottom: -15%;
        }
        .main {
            flex-direction: column;
            margin-top: -6%;
        }
        .main__text {
            order: 1;
        }
        .main__image {
            order: 2;
        }
    }
    
    @media screen and (max-width:568px) {
        .main__text {
            font-size: 80%;
        }
        .main__title {
            font-size: 32px;
        }
        .faw {
            margin-top: 17%;
        }
    }
    
    @media screen and (max-width:497px) {
        .preview__arrow-preview {
            width: 70px;
            height: 70px;
            margin-left: 17%;
            margin-bottom: -24%;
        }
    }
    
    @media screen and (max-width:395px) {
        .main__text {
            font-size: 75%;
        }
        .main__title {
            width: 292px;
            font-size: 30px;
        }
        .main__desc {
            width: 236px;
        }
        .preview__line {
            padding-right: 0;
            margin-right: 57px;
        }
        .preview__arrow-preview {
            width: 75px;
            height: 75px;
            margin-left: 11%;
            margin-bottom: -18%;
        }
    }
    
    @media screen and (max-width:363px) {
        .main__title {
            width: 270px;
            font-size: 27px;
        }
    }