@import url(../about.css);
@media screen and (min-width: 1200px) {
    .number-condition-01 {
        font-size: 12rem;
        margin-left: 60px;
    }
    .about-text-content h2 {
        font-size: 40px;
    }
    .button-esc-grey {
        padding: 23px 85px 23px 66px;
        margin-top: 20px;
        margin-left: 34px;
    }
    .button-esc-grey {
        font-size: 16px;
    }
    .about-text-content {
        margin-left: -15px;
    }
    .about-left,
    .about-right {
        padding: 20px;
    }
    .about-right {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .about-wrapper {
        width: 95%;
        padding: 0 50px 0 50px;
    }
    .button-esc-grey {
        padding: 23px 73px 23px 35px;
        margin-top: 20px;
        margin-left: 34px;
    }
    .about-text-content {
        margin-left: -58px;
    }
    .about-text-content h2 {
        font-size: 35px;
    }
    .about-text-content p,
    .about-right p,
    .about-right b {
        font-size: 16px;
        width: 90%;
    }
    .number-condition-01 {
        font-size: 12rem;
        padding-left: 24px;
    }
    .about-left,
    .about-right {
        padding: 20px;
    }
    .about-right {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .number-condition-01 {
        font-size: 10rem;
    }
    .about-text-content p,
    .about-right p,
    .about-right b {
        font-size: 15px;
        width: 90%;
    }
    .about-left img {
        width: 45px;
    }
    .about-text-content {
        margin-left: -79px;
    }
    .about-text-content h2 {
        font-size: 30px;
    }
    .button-esc-grey {
        font-size: 14px;
    }
    .about-wrapper {
        width: 89%;
    }
    .about-left,
    .about-right {
        padding: 0;
    }
    .about-left {
        margin-right: -78px;
    }
}

@media screen and (max-width: 822px) {
    .about-text-content p,
    .about-right p,
    .about-right b {
        font-size: 14px;
    }
    .button-esc-grey {
        padding: 16px 55px 16px 15px;
        font-size: 13px;
        margin-left: 21px;
    }
    .about-left img {
        width: 37px;
    }
    .number-condition-01 {
        font-size: 9rem;
        margin-top: -24px;
        margin-left: -51px;
    }
    .about-text-content {
        margin-left: -120px;
    }
    .about-right {
        flex-basis: 73%;
    }
    .about-text-content h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 635px) {
    .number-condition-01 {
        font-size: 8rem;
        margin-top: -24px;
        margin-left: -51px;
    }
    .about-text-content {
        margin-left: -145px;
    }
    .about-left img {
        width: 33px;
    }
}

@media screen and (max-width: 568px) {
    .about-text-content h2 {
        font-size: 26px;
    }
    .button-esc-grey {
        margin-top: 3px;
    }
    .number-condition-01 {
        font-size: 7rem;
        margin-left: -58px;
    }
    .about-text-content {
        margin-left: -175px;
    }
    .button-esc-grey {
        font-size: 11px;
    }
    .about-right {
        flex-basis: 100%;
    }
    .about-text-content {
        margin-left: -241px;
        margin-top: 43px;
    }
    .button-esc-grey {
        margin-left: 18px;
    }
}

@media screen and (max-width: 457px) {
    .about-text-content h2 {
        font-size: 24px;
    }
    .about-text-content p,
    .about-right p,
    .about-right b {
        font-size: 12px;
    }
    .number-condition-01 {
        font-size: 6rem;
        /* margin-left: -58px;
        margin-top: -41px; */
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-left,
    .about-right {
        padding: 20px 0;
    }
    .number-condition-01,
    .button-esc-grey {
        margin: 0 auto;
    }
    .button-esc-grey .button-arrow {
        right: 20px;
    }
}

@media screen and (max-width: 345px) {
    .about-text-content {
        margin-left: -282px;
        margin-top: 43px;
    }
    .about-text-content h2 {
        font-size: 22px;
    }
    .button-esc-grey {
        font-size: 10px;
    }
    .number-condition-01 {
        font-size: 4rem;
    }
    .number-condition-01 {
        /* margin: 0 auto; */
        margin-left: -40px;
        margin-top: -4px;
    }
}